body{
    color:rgb(87, 31, 31);
    font-family: Arial, sans-serif;
    background-color: rgb(235, 225, 225);
}
h2{
    color:rgb(145, 4, 4);
}

.submit-form{
    align-items: center;
    color: antiquewhite;
    display:block;
    margin:auto;
    padding:30px;
    margin-left: 50px;
}

.list-name{
    text-align: left;
    padding: 5px;
    margin-left: 90px;
}
.container{
display:flex;
flex-direction:row;
}

.form-list{
   align-items: center;
}

.side-container{
    margin-top: 0px;
    margin-right: 0px;
    align-items:right;

}

footer{
    font-size: 12px;
     text-align: left;
    padding: 5px;
    margin-left: 90px;
}